html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f6f7;
  color: #747d84;
}
[v-cloak] { display: none; }
.content {
  height: 100%;
  display: flex;
  justify-content: center;
}
.row {
  width: 640px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}
#vue-content{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
.transcript {
  max-height: 400px;
  overflow-y: scroll;
  background-color: white;
}
.transcript-row {
  display: flex;
  width: fit-content;
  padding-left: 10px;
}
.highlighted {
  color: #4a90e2;
  background-color: hsla(0,0%,71.8%,.5);
}
.float-right {
  float: right;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mr-10 {
  margin-right: 10px;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
