<!DOCTYPE html>
<html>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./js/transcript.js"></script>
  <script src="./js/youtube.js" async></script>
  <script src="./js/index.js" async></script>
  <link rel="stylesheet" href="./css/style.css">
  <title>YouTube Transcript Editor</title>
  <body>
    <div class="content">
      <div class="row">
        <div class="horizontal-center">
          <h2>Youtube Transcript Editor</h2>
        </div>
        <div id="player"></div>
        <div id="vue-content">
          <div class="mb-15">
            <label><strong>Transcript</strong></label>
            <div class="float-right">
              <label class="mr-10">Click on text to edit</label>
              <button @click="isTimeStamp = !isTimeStamp">{{isTimeStamp ? 'Hide' : 'Show'}} TimeStamp</button>
            </div>
          </div>
          <div class="transcript" id="transcript-div">
            <span :id="key" class="transcript-row" v-for="(row, key) in transcript" :key="key" @click="onTranscriptClick(key)">
              <span class="mr-10" v-show="isTimeStamp">{{key}}</span>
              <div contenteditable="true">
                <span :contenteditable="editKey == key" :class="key == matched ? 'highlighted' : ''">{{row}}</span>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
